<h1>Analyse IIS Log file</h1>

<p>This component demonstrates fetching and analysing data from the uploaded file.</p>
<br />
<p>You can upload multiple log files and they will be analysed simultaneously.</p>
<br />
<form name="form" action="/UploadMultiple" method="post" enctype="multipart/form-data">

    <input id="files" type="file" name="files" multiple onchange="fileupload('files');" />

</form>
<br />
<!--<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table' *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.dateFormatted }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>-->

<!--<p *ngIf="!userdatas"><em>Loading...</em></p>

<table class='table' *ngIf="userdatas">
    <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataa of userdatas">
            <td>{{ dataa.id }}</td>
            <td>{{ dataa.jsonText }}</td>
        </tr>
    </tbody>
</table>-->
<br />
<p *ngIf="!hitsData"><em>File not uploaded or not in the correct format. Please upload an IIS Log file above</em></p>

<table class='table' *ngIf="hitsData">
    <thead>
        <tr>
            <th>IP</th>
            <th>FQDN</th>
            <th>Hits</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of hitsData">
            <td>{{ data.IP }}</td>
            <td>{{ data.FQDN }}</td>
            <td>{{ data.Hits }}</td>
        </tr>
    </tbody>
</table>

