<h1>Hello!</h1>
<p>Welcome to my new single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core 2.0</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular 4.25</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://github.com/Jarolim/IISLogAnalyser'>Github</a> for source control</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
